{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% endblock %}
{% block title %}
Add Movie
{% endblock %}
{% block content %}
<h1 style="text-align:center; padding:5px">Add Movie</h1>
<form action="{% url 'movieapp:add' %}" method="post"  enctype="multipart/form-data"  style="background-color: rgb(224, 228, 243); border: 8px solid #04356A; border-radius: 10px; margin: 0 auto; padding: 20px; height: 55vh; margin-bottom: 13px;">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label>Movie Name:</label>
            </td>
            <td>
                <input type="text" name="name" placeholder="Enter Movie Name"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Description:</label>

            </td>
            <td>
                <input type="text" name="desc" placeholder="Enter Movie Description"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Release Date:</label>

            </td>
            <td>
                <input type="date" name="rel_date" placeholder="Enter Date of Release"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Cast:</label>

            </td>
            <td>
                <input type="text" name="cast" placeholder="Enter Actor's Name"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Category:</label>
            </td>
            <td>
            <select name="genre" id="genre">
                {% for cat in links %}
                <option value="{{cat.name}}">{{cat.name}}</option>
                 {% endfor %}
            </select>
            </td>
        </tr>
        <tr>
            <td>
               <label>Poster:</label>

            </td>
            <td>
                 <input type="file" name="img"><br>
            </td>
        </tr>
        <tr>
            <td>
               <label>Trailer:</label>
            </td>
             <td>
                <input type="text" name="trailer" placeholder="Paste the Trailer link"><br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="uid" value="{{request.user.id}}">
            </td>
            <td colspan="2">
                <input type="submit" class="btn btn-dark" style="margin: 25px 0 0 50px;">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
