<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#021f3d;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'movieapp:allMovieCat' %}" style="color:#7698fd; font-family: Cochin;">StarGo+</a></b>
        </li>
        <b><li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Welcome, {{user.username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'credentialsapp:update' user.id %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'credentialsapp:logout' %}">Logout</a></li>
          </ul>
        </li>
        </b>
        <b><li class="nav-item dropdown {% if 'movieapp' in request.path %} active {% endif %}">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
         </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'movieapp:allMovieCat' %}">All Movies</a></li>
            {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
            {% endfor %}
          </ul>
        </li></b>
        <li class="nav-item">
                <b><a class="nav-link" href="{% url 'movieapp:mymovies' %}">Your Library &nbsp;|</a></b>
        </li>
        <li class="nav-item">
                <b><a class="nav-link" href="{% url 'favouritesapp:my_favourite_movies' %}">Favourites &nbsp;|</a></b>
        </li>
        <li class="nav-item">
                <b><a class="nav-link" href="{% url 'userreviewapp:dispReview' %}">Discussions &nbsp;|</a></b>
        </li>
        <li class="nav-item" style="margin-left: 0px;">
          <b><a class="nav-link" href="{% url 'movieapp:add' %}">Add Movie</a></b>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'movieapp:allMovieCat' %}" style="color:#7698fd; font-family: Cochin;">StarGo+</a></b>
        </li>
        <b><li class="nav-item dropdown {% if 'movieapp' in request.path %} active {% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'movieapp:allMovieCat' %}">All Movies</a></li>
            {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
            {% endfor %}
          </ul>
        </li></b>
        <b><li class="nav-item">
                <a class="nav-link" href="{% url 'credentialsapp:registrations' %}">Register</a>
        </li></b>
        <b><li class="nav-item">
                <a class="nav-link" href="{% url 'credentialsapp:login' %}">Login</a>
         </li></b>
        <li class="nav-item">
                <b><a class="nav-link" href="{% url 'userreviewapp:dispReview' %}">Discussions</a></b>
        </li>
      </ul>
      {% endif %}
      <form class="d-flex" action="{% url 'searchapp:SearchResult' %}" method="get">
        {% csrf_token %}
        <input class="form-control m-3" type="search" placeholder="Looking For..." aria-label="Search" name="q" style="width: 200px; height: 36px;">
        <button class="btn btn-outline-info mt-3" type="submit" style=" height: 37px;"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>
    </div>
  </div>
</nav>
